[VALIDATE_1]
###Rule
single-choice

###Question
Which service is used to create a coupon in SAP Omnichannel Promotion Pricing?

###Match
[x] Data Upload service.
[ ] Coupon Management service.
[x] Calculation service.

[VALIDATE_1]


[VALIDATE_4]
###Rule
single-choice

###Question
How many unique coupon codes were generated?

###Match
[ ] None
[ ] 1.000
[x] 100


[VALIDATE_4]